################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetConfDemo/bin/Debug
/DotNetConfDemo/.vs/DotNetConfDemo
/.vs
/DotNetConfDemo/obj
